*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
**/build/
/captures
.externalNativeBuild
.cxx
local.properties

# Logs & Build Artifacts
*.log
kapt_error*.log
build_output.log

# Kotlin & IDE Caches
.idea/**
.kotlin/

